1 TO 3 CHAPTERS from github and covered from  python lists all topic

In [ ]:
name = "sehrish"
f_name = "shafiq"
print(name,f_name)
print(f"{name},{f_name}")

sehrish shafiq
sehrish,shafiq

In [ ]:
x = "sehrish"
x = "sehr"
print(x)

sehr

In [ ]:
x = "sehr"
print("x")

x

In [ ]:
x = "sehr"
y = "sehrish"
print(x)
print(y)

sehr
sehrish

In [ ]:
x =3
x =4
print(x,x)

4 4

In [ ]:
x=3
x=4
print(x)

4

In [ ]:
x = str("sehrish")
y = int(4)
z = float(3)
print(x,y,z)

sehrish 4 3.0

In [ ]:
x = str("sehrish")
y = int(4)
z = float(3)
print(f"{x} {y} {z}")

sehrish 4 3.0

In [ ]:
x = str("sehrish")
y = int(4)
z = float(3)
print(f"{x}\n {y}\n {z}")
print(type({x}\n {y}\n {z}))

SyntaxError: unexpected character after line continuation character (3138120627.py, line 5)

In [ ]:
first_name:str="sehrish"
last_name:str="shafiq"
full_name:str=f'{first_name} {last_name}'
print(full_name)

sehrish shafiq

In [ ]:
first_name:str = "ada"
last_name:str = "lovelace"
full_name:str = f"{first_name} {last_name}"
print(full_name)

In [ ]:
first_name:str = "ada"
last_name:str = "lovelace"
full_name:str = f"{first_name} {last_name}"
print(f"Hello, {full_name.title()}!")

In [ ]:
first_name:str = "ada"
last_name:str = "lovelace"
full_name:str = f"{first_name} {last_name}"
message:str = f"Hello, {full_name.title()}!"
print(message)

Hello, Ada Lovelace!

In [ ]:
message:str = "Hello Python world!"
print(message)

Hello Python world!

In [ ]:
message:str="hello!"
print(message)

hello!

In [ ]:
message:str="hello!"
print(message)

message:str="python!"
print(message)
message:str = "Hello Python world!"
print(message)

message:str = "Hello Python Crash Course world!"
print(message)

hello!
python!
Hello Python world!
Hello Python Crash Course world!

In [ ]:
message:str="hello my name is sehr"
print(message.title())

name:str = "ada lovelace"
print(name.title())

Hello My Name Is Sehr
Ada Lovelace

In [ ]:
name:str="Hello world"
print(name.lower())


name:str="Pakistan Is Our Country"
print(name)
print() # this creates a blank line
print(name.upper())
print(name.lower())

name:str = "Ada Lovelace"
print(name)
print(name.upper())
print(name.lower())

hello world
Pakistan Is Our Country

PAKISTAN IS OUR COUNTRY
pakistan is our country
Ada Lovelace
ADA LOVELACE
ada lovelace

list:
Lists are used to store multiple items in a single variable.

In [ ]:
mylist = ["apple", "banana", "cherry"]

In [ ]:
# create list
mylist = ["apple","mango","banana"]
print(mylist)

['apple', 'mango', 'banana']

List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [ ]:
list=["apple","mango","banana","apple","banana"]
print(list)
print()
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'mango', 'banana', 'apple', 'banana']

['apple', 'banana', 'cherry', 'apple', 'cherry']

List Length
To determine how many items a list has, use the len() function:

In [ ]:
# Print the number of items in the list:
thislist=["apple","mango","banana","cherry"]
print(thislist)
thislist=["apple","mango","banana","cherry"]
print(len(thislist))
print(type(thislist))

['apple', 'mango', 'banana', 'cherry']
4
<class 'list'>

List Items - Data Types
List items can be of any data type:

In [ ]:
#String, int and boolean data types:
list1=["apple","mango","banana"]
print(list1)
print(len(list1))
print(type(list1))
print()

list2=[1,2,3,5]
print(list2)
print(len(list2))
print()

list3=["true","false","false"]
print(list3)
print(len(list3))
print()

list4=[True,False,False]
print(list4)
print(len(list4))
print()

list5=["apple","mango","banana","cherry","apple","mango","apple"]
print(list5)
print(len(list5))
print()

list6=[1,3,4,6,1,3]
print(list6)
print(len(list6))
print()

['apple', 'mango', 'banana']
3
<class 'list'>

[1, 2, 3, 5]
4

['true', 'false', 'false']
3

[True, False, False]
3

['apple', 'mango', 'banana', 'cherry', 'apple', 'mango', 'apple']
7

[1, 3, 4, 6, 1, 3]
6

A list can contain different data types:
A list with strings, integers and boolean values:

In [ ]:
list=["sehr",34,True,40,"male","male"]
print(list)

['sehr', 34, True, 40, 'male', 'male']

type()
From Python's perspective, lists are defined as objects with the data type 'list':
<class 'list'>

In [ ]:
#What is the data type of a list?
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

The list() Constructor
It is also possible to use the list() constructor when creating a new list.

In [ ]:
#Using the list() constructor to make a List:
from typing import List
thislist = list(["apple","banana","orange"])
print(thislist)
from typing import List
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

TypeError: 'list' object is not callable

In [ ]:
my_list = ["apple", "banana", "orange"]
print(my_list)

['apple', 'banana', 'orange']

In [ ]:
my_list = list(["apple", "banana", "orange"])
print(my_list)

TypeError: 'list' object is not callable

In [ ]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

TypeError: 'list' object is not callable

In [ ]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

TypeError: 'list' object is not callable

In [ ]:
mylist = List(["apple", "banana", "cherry"])
print(mylist)

TypeError: Type List cannot be instantiated; use list() instead

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

In [ ]:
#What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
print(mylist[1])
#What will be the result of the following syntax:
mylist = ['apple', 'banana', 'banana', 'cherry']
print(mylist[2])
#True or False.
#List items cannot be removed after the list has been created.
# ans:false

banana
banana

In [ ]:
bicycles: List[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
from typing import List
bicycles: List[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
from typing import List
bicycles: List[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

trek

my_list: List[int] = [1, 2, 3]  # A list of integers

typing Module: The typing module provides various type hints for use in your Python code. These hints do not enforce type checking at runtime but are used by static type checkers like MyPy to analyze your code for potential type errors.
from ... import ...: This is a Python syntax used to import specific items (in this case, List) from a module (in this case, typing). This makes it easier to use List directly in your code without needing to write typing.List every time.

In [ ]:
from typing import List
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

TypeError: 'list' object is not callable

In [ ]:
my_list = list(("apple", "banana", "cherry"))
print(my_list)

TypeError: 'list' object is not callable

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
bicycles:List[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
bicycles:List[str] = ['track','apple','banana']
print(bicycles[1])
bicycles:List[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

bicycles:List[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())

bicycles: List[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])

bicycles: List[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-3])

my_list:List[str]=["apple","mango","banana","orange"]
message=f"hello,{my_list[-2].title()}"
print(message)

bicycles:List[str] = ['trek', 'cannondale', 'redline', 'specialized']
message:str = f"My first bicycle was a {bicycles[0].title()}."

print(message)
print(type(bicycles))

apple
trek
Trek
cannondale
specialized
cannondale
hello,Banana
My first bicycle was a Trek.
<class 'list'>

Access Items
List items are indexed and you can access them by referring to the index number:

In [ ]:
#Print the second item of the list:
thislist = ["apple","mango","banana","orange"]
print(thislist[1])
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

mango
banana

Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
#Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

#This will return the items from position 2 to 5.

#Remember that the first item is position 0,
#and note that the item in position 5 is NOT included
#Note: The search will start at index 2 (included) and end at index 5 (not included).

['cherry', 'orange', 'kiwi']

By leaving out the start value, the range will start at the first item:
This example returns the items from the beginning to, but NOT including, "kiwi":

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

#This will return the items from index 0 to index 4.

#Remember that index 0 is the first item, and index 4 is the fifth item
#Remember that the item in index 4 is NOT included

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:
This example returns the items from "cherry" to the end:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

#This will return the items from index 2 to the end.

#Remember that index 0 is the first item, and index 2 is the third

['cherry', 'orange', 'kiwi', 'melon', 'mango']

Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

In [ ]:
#This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

#Negative indexing means starting from the end of the list.

#This example returns the items from index -4 (included) to index -1 (excluded)

#Remember that the last item has the index -1,

['orange', 'kiwi', 'melon']

Check if Item Exists
To determine if a specified item is present in a list use the in keyword:

In [ ]:
#Check if "apple" is present in the list:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Python - Change List Items
Change Item Value
To change the value of a specific item, refer to the index number:

In [ ]:
#Change the second item:
thislist=["apple","mango","banana"]
thislist[1]="cherry"
print(thislist)
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'cherry', 'banana']
['apple', 'blackcurrant', 'cherry']

Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
#Change the second value by replacing it with two new values:
thislist = ["apple", "banana", "cherry"]

thislist[1:2] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

Note: The length of the list will change when the number of items inserted does not match the number of items replaced.
If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
#Change the second and third value by replacing it with one value:
thislist = ["apple", "banana", "cherry"]

thislist[1:3] = ["watermelon"]

print(thislist)

['apple', 'watermelon']

Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
#Insert "watermelon" as the third item:
thislist = ["apple", "banana", "cherry"]

thislist.insert(2, "watermelon")

print(thislist)
#Note: As a result of the example above, the list will now contain 4 items.

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist[1])

banana

In [ ]:
mylist = ['apple', 'banana', 'cherry']
mylist[1:2] = ['kiwi', 'mango']
print(mylist[2])

mango

Python - Add List Items
Append Items
To add an item to the end of the list, use the append() method:

In [ ]:
#Using the append() method to append an item:
thislist = ["apple", "banana", "cherry"]

thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

Insert Items
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
#Insert an item as the second position:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Note: As a result of the examples above, the lists will now contain 4 items.

Extend List
To append elements from another list to the current list, use the extend() method.

In [ ]:
#Add the elements of tropical to thislist:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The elements will be added to the end of the list.

Add Any Iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
#Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
mylist = ['apple', 'banana', 'cherry']
mylist.insert(0, 'orange')
print(mylist[1])

apple

In [ ]:
#Use the append method to add "orange" to the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")

In [ ]:
#Use the insert method to add "lemon" as the second item in the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,
 "lemon")

Python - Remove List Items
Remove Specified Item
The remove() method removes the specified item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [ ]:
#Remove the first occurrence of "banana":
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

Remove Specified Index
The pop() method removes the specified index.

In [ ]:
#Remove the second item:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [ ]:
#Remove the last item:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

In [ ]:
#Remove the first item:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

In [ ]:
#Delete the entire list:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist) #this will cause an error because you have succsesfully deleted "thislist".

NameError: name 'thislist' is not defined

Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [ ]:
#Clear the list content:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
#Use the remove method to remove "banana" from the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")

In [ ]:
mylist = ['apple', 'banana', 'cherry']
mylist.pop(1)
print(mylist)

['apple', 'cherry']

What is a List method for removing list items?
pop()

Python - Loop Lists
Loop Through a List
You can loop through the list items by using a for loop:

In [ ]:
#Print all items in the list, one by one:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [ ]:
#Print all items by referring to their index number:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

The iterable created in the example above is [0, 1, 2].

Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
#Print all items, using a while loop to go through all the index numbers
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
#A short hand for loop that will print all items in a list:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

What is a correct syntax for looping through the items of a list?
for x in ['apple', 'banana', 'cherry']:
  print(x)

Insert the missing part of the while loop below to loop through the items of a list.

mylist = ['apple', 'banana', 'cherry']
i = 0
while
 i <
len
(mylist):
  print(mylist[i])
  i = i + 1

What is a correct syntax for looping through the items of a list?
[print(x) for x in ['apple', 'banana', 'cherry']]

Python - List Comprehension

List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

With list comprehension you can do all that with only one line of code:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

The Syntax
newlist = [expression for item in iterable if condition == True]
The return value is a new list, leaving the old list unchanged.

Condition
The condition is like a filter that only accepts the items that valuate to True.

In [ ]:
#Only accept items that are not "apple":
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

In [ ]:
#With no if statement:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

In [ ]:
#You can use the range() function to create an iterable:
newlist = [x for x in range(10)]

print(newlist)

Same example, but with a condition:

In [ ]:
#Accept only numbers lower than 5
newlist = [x for x in range(10) if x < 5]

print(newlist)

Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [ ]:
#Set the values in the new list to upper case:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

You can set the outcome to whatever you like:

In [ ]:
#Set all values in the new list to 'hello':
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [ ]:
#Return "orange" instead of "banana":
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

The expression in the example above says:

"Return the item if it is not banana, if it is banana return orange".

Python - Sort Lists
Sort List Alphanumerically
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [ ]:
# Sort the list alphabetically:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
#Sort the list numerically:
thislist = [100, 50, 65, 82, 23]

thislist.sort()

print(thislist)

[23, 50, 65, 82, 100]

In [ ]:
cars:List[str] = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

Sort Descending
To sort descending, use the keyword argument reverse = True:

In [ ]:
#Sort the list descending:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse = True)

print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
#Sort the list descending:
thislist = [100, 50, 65, 82, 23]

thislist.sort(reverse = True)

print(thislist)

[100, 82, 65, 50, 23]

In [ ]:
cars:List[str] = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
cars:List[str] = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
cars: List[str] = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
motorcycles:List[str] = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
motorcycles :List[str] = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive: str = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
motorcycles :list[str] = ['honda', 'yamaha', 'suzuki']
print(motorcycles[3])

TypeError: list indices must be integers or slices, not type

In [ ]:
motorcycles:List[str] = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
motorcycles:List[str] = []

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles: List[str] = ['honda', 'yamaha', 'suzuki']

motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles:List[str] = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
motorcycles:List[str] = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [ ]:
motorcycles:List[str] = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle:str = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [ ]:
motorcycles:List[str] = ['honda', 'yamaha', 'suzuki']

last_owned:str = motorcycles.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}.")

The last motorcycle I owned was a Suzuki.

In [ ]:
motorcycles:List[str] = ['honda', 'yamaha', 'suzuki']

first_owned:str = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

The first motorcycle I owned was a Honda.

In [ ]:
motorcycles:List[str] = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
bicycles:List[str] = ['trek', 'cannondale', 'redline', 'specialized']
message = f"My first bicycle was a {bicycles[0].title()}."

print(message)

My first bicycle was a Trek.

In [ ]:
cars:List[str] = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
motorcycles:List[str] = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

Customize Sort Function
You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
#Sort the list based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

Case Insensitive Sort
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
#Case sensitive sorting can give an unexpected result:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort()

print(thislist)

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [ ]:
#Perform a case-insensitive sort of the list:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort(key = str.lower)

print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [ ]:
#Reverse the order of the list items:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.reverse()

print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

What is a correct syntax for sorting a list?
mylist.sort()
What is a correct syntax for reversing the current order of a list?
mylist.reverse()
What is a correct syntax for sorting a list descending?
mylist.sort(reverse = True)

Python - Copy Lists
Copy a List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

Use the copy() method
You can use the built-in List method copy() to copy a list.

In [ ]:
#Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Use the list() method
Another way to make a copy is to use the built-in method list().

In [ ]:
#Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

TypeError: 'list' object is not callable

Use the slice Operator
You can also make a copy of a list by using the : (slice) operator.

In [ ]:
#Make a copy of a list with the : operator:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

What is a correct syntax for making a copy of a list?
list2 = list1.copy()
What is a correct syntax for making a copy of a list?
list2 = list(list1)
What is a correct syntax for making a copy of a list?
list2 = list1[:]

Python - Join Lists
Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [ ]:
#Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [ ]:
#Append list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, where the purpose is to add elements from one list to another list:

In [ ]:
#Use the extend() method to add list2 at the end of list1:\
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

What is a correct syntax for joining list1 and list2 into list3?
list3 = list1 + list2
What is a correct syntax for adding elements from list2 into list1?
list1.extend(list2)

In [ ]:
list1 = ['a', 'b' , 'c']
list2 = [1, 2, 3]
for x in list2:
 list1.append(x)
 print(list1)
  #What will be the value of list1?
  #['a', 'b', 'c', 1, 2, 3]

['a', 'b', 'c', 1]
['a', 'b', 'c', 1, 2]
['a', 'b', 'c', 1, 2, 3]

Python - List Methods
List Methods
Python has a set of built-in methods that you can use on lists.

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [ ]:
#Python List append() Method
#Add an element to the fruits list:
fruits=['apple','mango','banana']
fruits.append('orange')
print(fruits)

#Add a list to a list:
a=["apple","mango","banana"]
b=["tea","coffee","juice"]
a.append(b)
print(a)

a = ["apple", "banana", "cherry"]

b = ["Ford", "BMW", "Volvo"]

a.append(b)

print(a)

['apple', 'mango', 'banana', 'orange']
['apple', 'mango', 'banana', ['tea', 'coffee', 'juice']]
['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

Definition and Usage
The append() method appends an element to the end of the list.

Syntax
list.append(elmnt)
Parameter Values
Parameter	Description
elmnt	Required. An element of any type (string, number, object etc.)

Python List clear() Method
Definition and Usage
The clear() method removes all the elements from a list.

Syntax
list.clear()
Parameter Values
No parameters

In [ ]:
#Remove all elements from the fruits list:
fruits=["apple","mango","banana"]
fruits.clear()
print(fruits)

[]

Python List copy() Method
Definition and Usage
The copy() method returns a copy of the specified list.

Syntax
list.copy()
Parameter Values
No parameters

In [ ]:
#Copy the fruits list:
fruits=["apple","mango","banana"]
x= fruits.copy()
print(x)

['apple', 'mango', 'banana']

Python List count() Method

Definition and Usage
The count() method returns the number of elements with the specified value.

Syntax
list.count(value)
Parameter Values
Parameter	Description
value	Required. Any type (string, number, list, tuple, etc.). The value to search for.

In [ ]:
#Return the number of times the value "cherry" appears in the fruits list:
fruits=["apple","cherry","banana"]
x=fruits.count("cherry")
print(x)
#Return the number of times the value 9 appears int the list:
points=[1,6,9,6,8,2,8,8]
x=points.count(8)
print(x)

1
3

Python List extend() Method
Definition and Usage
The extend() method adds the specified list elements (or any iterable) to the end of the current list.

Syntax
list.extend(iterable)
Parameter Values
Parameter	Description
iterable	Required. Any iterable (list, set, tuple, etc.)

In [ ]:
#Add the elements of cars to the fruits list:
fruits=["apple","banana","grapes"]
cars=["car","volvo","bike"]
fruits.extend(cars)
print(fruits)
#Add a tuple to the fruits list:
fruits=["apple","mango","banana","grapes"]
points=(1,5,6,8,6)
fruits.extend(points)
print(fruits)

['apple', 'banana', 'grapes', 'car', 'volvo', 'bike']
['apple', 'mango', 'banana', 'grapes', 1, 5, 6, 8, 6]

Python List index() Method
Definition and Usage
The index() method returns the position at the first occurrence of the specified value.

Syntax
list.index(elmnt)
Parameter Values
Parameter	Description
elmnt	Required. Any type (string, number, list, etc.). The element to search for

In [ ]:
#What is the position of the value "cherry":
fruits=["apple","mango","banana"]
x=fruits.index("banana")
print(x)
#What is the position of the value 32:
points=[1,7,65,9,65,82]
x=points.index(65)
print(x)

fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)

print(x)

#Note: The index() method only returns the first occurrence of the value.

2
2
3

Python List insert() Method
Definition and Usage
The insert() method inserts the specified value at the specified position.

Syntax
list.insert(pos, elmnt)
Parameter Values
Parameter	Description
pos	Required. A number specifying in which position to insert the value
elmnt	Required. An element of any type (string, number, object etc.)

In [ ]:
#Insert the value "orange" as the second element of the fruit list:
fruits=["apple","banana","grapes","orange"]
fruits.insert(2,"orange")
print(fruits)
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

print(fruits)

['apple', 'banana', 'orange', 'grapes', 'orange']
['apple', 'orange', 'banana', 'cherry']

Python List pop() Method
Definition and Usage
The pop() method removes the element at the specified position.

Syntax
list.pop(pos)
Parameter Values
Parameter	Description
pos	Optional. A number specifying the position of the element you want to remove, default value is -1, which returns the last item

In [ ]:
#Remove the second element of the fruit list:
fruits=["apple","mango","banana"]
fruits.pop(1)
print(fruits)

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

print(fruits)
#Return the removed element:
fruits=["apple","mango","banana","orange"]
x=fruits.pop(2)
print(x)
fruits = ['apple', 'banana', 'cherry']

x = fruits.pop(1)

print(x)
#Note: The pop() method returns removed value.

['apple', 'banana']
['apple', 'cherry']
banana
banana

Python List remove() Method
Definition and Usage
The remove() method removes the first occurrence of the element with the specified value.

Syntax
list.remove(elmnt)
Parameter Values
Parameter	Description
elmnt	Required. Any type (string, number, list etc.) The element you want to remove

In [ ]:
#Remove the "banana" element of the fruit list:
fruits=["apple","banana","orange"]
fruits.remove("banana")
print(fruits)
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")

print(fruits)

['apple', 'orange']
['apple', 'cherry']

Python List reverse() Method
Definition and Usage
The reverse() method reverses the sorting order of the elements.

Syntax
list.reverse()
Parameter Values
No parameters

In [ ]:
#Reverse the order of the fruit list:
fruits=["apple","banana","orange"]
fruits.reverse()
print(fruits)
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['orange', 'banana', 'apple']
['cherry', 'banana', 'apple']

Python List sort() Method
Definition and Usage
The sort() method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).

Syntax
list.sort(reverse=True|False, key=myFunc)
Parameter Values
Parameter	Description
reverse	Optional. reverse=True will sort the list descending. Default is reverse=False
key	Optional. A function to specify the sorting criteria(s)

In [ ]:
#Sort the list alphabetically:
cars=["cars","bws","volvo"]
cars.sort()
print(cars)
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)
#Sort the list descending:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)

print(cars)
#Sort the list by the length of the values:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

print(cars)
#Sort a list of dictionaries based on the "year" value of the dictionaries:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

print(cars)
#Sort the list by the length of the values and reversed:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)

print(cars)

['bws', 'cars', 'volvo']
['BMW', 'Ford', 'Volvo']
['Volvo', 'Ford', 'BMW']

In [ ]:
# Simple chatbot using conditional statements
def chatbot(user_question):
    # Converting user input to lowercase for consistency
    user_question = user_question.lower()
    def user_question():
     print("what is your name")
     print("how are you")
     print("what can you do")
     print("where are you from")
     print("who created you")

    # Responding to specific questions
    if user_question == "what is your name?":
        return "Chatbot: My name is Chatbot"
    elif user_question == "how are you?":
        return "Chatbot: I'm just a bunch of code, but I'm doing great"
    elif user_question == "what can you do?":
        return "Chatbot: I can chat with you and respond to simple questions."
    elif user_question == "where are you from?":
        return "chatbot: I exist in the virtual world of code."
    elif user_question == "who created you?":
        return "Chatbot: I was created by a programmer!"
    else:
        return "Chatbot: Sorry, I don't understand that. Try asking something else!"


# Example interactions with the chatbot
response_1 = chatbot("What is your name?")
response_2 = chatbot("How are you?")
response_3 = chatbot("What can you do?")
response_4 = chatbot("where are you from?")
response_5 = chatbot("where are you from?")
response_6 = chatbot("Tell me a joke")



# Printing responses
print(response_1)
print(response_2)
print(response_3)
print(response_4)
print(response_5)
print(response_6)
#response_1, response_2, response_3, response_4, response_5, response_6

Chatbot: Sorry, I don't understand that. Try asking something else!
Chatbot: Sorry, I don't understand that. Try asking something else!
Chatbot: Sorry, I don't understand that. Try asking something else!
Chatbot: Sorry, I don't understand that. Try asking something else!
Chatbot: Sorry, I don't understand that. Try asking something else!
Chatbot: Sorry, I don't understand that. Try asking something else!

In [ ]:
def chatbot(user_question):
    if user_question == "what is your name?":
        return "Chatbot: My name is Chatbot"
    elif user_question == "how are you?":
        return "Chatbot: I'm just a bunch of code, but I'm doing great"
    elif user_question == "what can you do?":
        return "Chatbot: I can chat with you and respond to simple questions."
    elif user_question == "where are you from?":
        return "chatbot: I exist in the virtual world of code."
    elif user_question == "who created you?":
        return "Chatbot: I was created by a programmer!"
    else:
        return "Chatbot: Sorry, I don't understand that. Try asking something else!"

In [ ]:
def addition(num1,num2):# a
  return num1 + num2

def subtraction(num1,num2):# b
  return num1 - num2

def multiplication(num1,num2):#c
  return num1 * num2

def division(num1,num2):#d
  if num2==0:
    return "error: division by zero is not allowed."
  #else
  return num1/num2

def power(num1,num2): #e
  return num1 ** num2

def square(num1,num2):#f
  return num1 ** num2

def cube(num1,num2):# g
  return num1 ** num2

def square_root(num1,num2):# h
  return num1 ** (1/num2)

def cube_root(num1,num2):#i
  return num1 ** (1/num2)

def factorial(num1,num2):#j
  return math.factorial(num1)

def logarithm(num1,num2): #k
  return math.log(num1,num2)

def modulus(num1,num2):#l
  return num1 % num2

def calculator():
  print("this is my calculator")
  print("select operation")
  print("a. addition")
  print("b.subtraction")
  print("c.multiplication")
  print("d.division")
  print("e.power")
  print("f.square")
  print("g.cube")
  print("h.square_root")
  print("i.cube_root")
  print("j.factorial")
  print("k.logarithm")
  print("l.modulus")
  # print("m.exit")
  try:
    select = input("enter (a/b/c/d/e/f/g/h/i/j/k/l/m):")
    if select in ["a","b","c","d","e","f","g","h","i","j","k","l","m"]:
      num1 = float(input("enter the first number:"))
      num2 = float(input("enter the second number:"))

      if select == "a":
        print(f":{addition(num1,num2)}")
      elif select == "b":
        print(f":{subtraction(num1,num2)}")
      elif select == "c":
        print(f":{multiplication(num1,num2)}")
      elif select == "d":
        print(f":{division(num1,num2)}")#
      elif select == "e":
        print(f":{power(num1,num2)}")
      elif select == "f":
        print(f":{square(num1,num2)}")
      elif select == "g":
        print(f":{cube(num1,num2)}")#
      elif select == "h":
        print(f":{square_root(num1,num2)}")
      elif select == "i":
        print(f":{cube_root(num1,num2)}")#
      elif select == "j":
        print(f":{factorial(num1,num2)}")
      elif select == "k":
        print(f":{logarithm(num1,num2)}")
      elif select == "l":
        print(f":{modulus(num1,num2)}")
    else:
      print("invalid input. exit")
  except : #Fixed indentation of except block to align with try
    print("Invalid input. Please enter correct values.")
  # Run the calculator
calculator()

In [1]:
!curl -o helper_functions.py https://raw.githubusercontent.com/panaversity/learn-cloud-native-modern-ai-python/main/04_natural_language_programming/02_ai_python_for_beginners/course1_basics/Lesson_9/helper_functions.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3944  100  3944    0     0  21133      0 --:--:-- --:--:-- --:--:-- 21204

In [2]:
from helper_functions import print_llm_response, get_llm_response

In [12]:
name:str="tommy"
print(name)
all_students:list=["junaid", "sehr"]
print(all_students)

tommy
['junaid', 'sehr']

In [9]:
all_students: list =["junaid", "sehr"]
print(all_students)
print(len(all_students))
print(type(all_students))

['junaid', 'sehr']
2
<class 'list'>

In [13]:
name:str = "junaid"
prompt = f"""
Write a four line birthday poem for my friend {name}.
The poem should be inspired by the first letter of my friend's name.
"""
print_llm_response(prompt)

Junaid, a jewel, bright and bold,
Your laughter fills our stories old.
Joy you bring, a constant friend,
May your happiness never end.

In [14]:
from helper_functions import print_llm_response, get_llm_response # Import the functions here

name:str = "junaid"
prompt = f"""
Write a four line birthday poem for my friend {name}.
The poem should be inspired by the first letter of my friend's name.
"""
print_llm_response(prompt)

**J**oyful laughter fills the air,
**U**pon this special day, we share,
**N**urturing friendship, strong and true,
**A**ll best wishes, Junaid, for you!

In [22]:
#creating list
#indexing  =    0         1         2
fruits_list= ["apple", "banana", "cherry"]
print(fruits_list)
type(fruits_list)

['apple', 'banana', 'cherry']

list

In [24]:
len(fruits_list)

prompt = f"""
Write a set of four line birthday poems for my friends {fruits_list}.
The poems should be insipred by the first letter of each friend's name.
"""
print(prompt)

Write a set of four line birthday poems for my friends ['apple', 'banana', 'cherry'].
The poems should be insipred by the first letter of each friend's name.

In [25]:
type(prompt)

str

In [26]:
print_llm_response(prompt)

## Birthday Poems for your friends:

**For Apple:**

A shining star, a brilliant light,
You bring joy and laughter, day and night.
Wishing you a birthday filled with cheer,
Happy birthday, dear Apple, my friend so dear!

**For Banana:**

Bright and cheerful, a sunny soul,
Your laughter makes my heart whole.
May your birthday be filled with glee,
Happy birthday, Banana, to you from me!

**For Cherry:**

Charming and sweet, a delightful treat,
Your kindness makes life so complete.
May your birthday be a joyous day,
Happy birthday, Cherry, in every way!

In [27]:
first_fruit = fruits_list[0]
print(first_fruit)

apple

In [29]:
print(fruits_list[1])
print(fruits_list[2])

banana
cherry

In [56]:
#adding another element to the list
print(fruits_list)

['apple', 'cherry', 'orange', 'junaid']

In [57]:
#add single element to the list
fruits_list.append("orange")

In [58]:
print(fruits_list)

['apple', 'cherry', 'orange', 'junaid', 'orange']

In [59]:
fruits_list.append("junaid")
print(fruits_list)

['apple', 'cherry', 'orange', 'junaid', 'orange', 'junaid']

In [60]:
# modify the code below to add another friends:
fruits_list.append(90)
print(fruits_list)

['apple', 'cherry', 'orange', 'junaid', 'orange', 'junaid', 90]

In [46]:
print(fruits_list[4])
print(type(fruits_list[4]))

junaid
<class 'str'>

In [61]:
#deleting elements
#using remove
print(fruits_list)
fruits_list.remove(90)
print(fruits_list)

['apple', 'cherry', 'orange', 'junaid', 'orange', 'junaid', 90]
['apple', 'cherry', 'orange', 'junaid', 'orange', 'junaid']

In [62]:
fruits_list = [] # Assume fruits_list is empty initially
fruits_list.append(90)  # Add 90 to the list
print(fruits_list)
fruits_list.remove(90)  # Now you can remove it safely
print(fruits_list)

[90]
[]

In [63]:
# Use a conditional to check for the element before removal.
print(fruits_list)
if 90 in fruits_list:
    fruits_list.remove(90)
    print("Removed 90 from fruits_list")
else:
    print("90 not found in fruits_list")
print(fruits_list)

[]
90 not found in fruits_list
[]

In [68]:
#list with other data types
list_ages:list=[34,21,30,20]
print(list_ages)
print(type(list_ages))
print(list_ages[0])
print(type(list_ages[0]))
print(list_ages[1])
print(type(list_ages[1]))
print(list_ages[2])
print(type(list_ages[2]))
print(list_ages[3])
print(type(list_ages[3]))
print(list_ages)
print(len(list_ages))

[34, 21, 30, 20]
<class 'list'>
34
<class 'int'>
21
<class 'int'>
30
<class 'int'>
20
<class 'int'>
[34, 21, 30, 20]
4

In [69]:
to_do_list=[]
print(to_do_list)
to_do_list.append("buy milk")
print(to_do_list)
task="buy eggs"
to_do_list.append(task)
print(to_do_list)

[]
['buy milk']
['buy milk', 'buy eggs']

In [74]:
task=[]
def add_to_do_list(task):
    to_do_list.append(task)
    return to_do_list
def remove_from_do_list(task):
    to_do_list.remove(task)
    return to_do_list
def view_to_do_list():
    return to_do_list
def clear_to_do_list():
    to_do_list.clear()
    return to_do_list
    def main_menu():
      print("1. Add to-do item")
      print("2. Remove to-do item")
      print("3. View to-do list")
      print("4. Clear to-do list")
      print("5. Quit")
if __name__ == "__main__":
    while True:
        main_menu()
        choice = input("Enter your choice (1-5): ")
        if choice == "1":
            task = input("Enter the task to add: ")
            add_to_do_list(task)
        elif choice == "2":
            task = input("Enter the task to remove: ")
            remove_from_do_list(task)
                           elif choice == "3":
            view_to_do_list()
        elif choice == "4":
                                    clear_to_do_list()
        elif choice == "5":
            break
            else:
            print("Invalid choice. Please select a valid option.")
            print("Goodbye")

IndentationError: unexpected indent (<ipython-input-74-91266305f529>, line 29)

In [75]:
task=[]
def add_to_do_list(task):
    to_do_list.append(task)
    return to_do_list
def remove_from_do_list(task):
    to_do_list.remove(task)
    return to_do_list
def view_to_do_list():
    return to_do_list
def clear_to_do_list():
    to_do_list.clear()
    return to_do_list
def main_menu(): # Fixed indentation of main_menu definition
    print("1. Add to-do item")
    print("2. Remove to-do item")
    print("3. View to-do list")
    print("4. Clear to-do list")
    print("5. Quit")
# The main part of the program
if __name__ == "__main__":
    to_do_list = []  # Initialize to_do_list here
    while True:
        main_menu()
        choice = input("Enter your choice (1-5): ")
        if choice == "1":
            task = input("Enter the task to add: ")
            add_to_do_list(task)
        elif choice == "2":
            task = input("Enter the task to remove: ")
            remove_from_do_list(task)
        elif choice == "3": # Fixed indentation
            view_to_do_list()
        elif choice == "4": # Fixed indentation
            clear_to_do_list()
        elif choice == "5":
            break
        else: # Fixed indentation and added else block
            print("Invalid choice. Please select a valid option.")
    print("Goodbye") # Moved this outside the loop to print once at the end

1. Add to-do item
2. Remove to-do item
3. View to-do list
4. Clear to-do list
5. Quit
Enter your choice (1-5): 1
Enter the task to add: write program
1. Add to-do item
2. Remove to-do item
3. View to-do list
4. Clear to-do list
5. Quit
Enter your choice (1-5): 3
1. Add to-do item
2. Remove to-do item
3. View to-do list
4. Clear to-do list
5. Quit
Enter your choice (1-5): 1
Enter the task to add: addition
1. Add to-do item
2. Remove to-do item
3. View to-do list
4. Clear to-do list
5. Quit
Enter your choice (1-5): 3
1. Add to-do item
2. Remove to-do item
3. View to-do list
4. Clear to-do list
5. Quit
Enter your choice (1-5): 3
1. Add to-do item
2. Remove to-do item
3. View to-do list
4. Clear to-do list
5. Quit
Enter your choice (1-5): quite
Invalid choice. Please select a valid option.
1. Add to-do item
2. Remove to-do item
3. View to-do list
4. Clear to-do list
5. Quit
Enter your choice (1-5): 5
Goodbye

In [79]:
#list of tasks in priority order. Multi-line lists are allowed in python!
list_of_tasks: list = [
    "Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.",
    "Write a birthday poem for Otto, celebrating his 28th birthday.",
    "Write a 300-word review of the movie 'The Arrival'."
]

In [80]:
#get task from list
task=list_of_tasks[0]
print_llm_response(task)

Subject: Running Late for Tomorrow's Meeting

Hi [Boss's name],

I wanted to let you know that I will be running a bit late for tomorrow's meeting at [Time] due to [Brief reason for lateness].

I apologize for any inconvenience this may cause and will be there as soon as possible.

Best,

[Your name]

In [81]:
task=list_of_tasks[1]
print_llm_response(task)

To Otto, dear friend, on this special day,
Twenty-eight years old, you're on your way!
From childhood dreams to dreams come true,
We celebrate you, it's all for you!

With laughter bright and spirit bold,
You light the world, a story to be told.
Your kindness shines, a beacon so clear,
Bringing joy to all, dispelling all fear.

May this year bring you laughter and cheer,
With loved ones near, banishing all fear.
May your ambitions take flight and soar,
Achieving goals, reaching for more.

So raise a glass, let's toast with glee,
To Otto, dear friend, happy birthday to thee!
May your journey be filled with joy and grace,
As you embrace life, at your own pace.

In [82]:
task=list_of_tasks[2]
print_llm_response(task)

## The Arrival: A Quiet Symphony of Humanity and the Unknown

"The Arrival" is a film that demands silence, not in its dialogue, which is sparse, but in its ability to evoke deep thought and introspection.  It's a meditation on communication, grief, and the human condition, framed by the arrival of mysterious alien vessels.

Amy Adams delivers a nuanced and emotionally resonant performance as Louise Banks, a linguist tasked with deciphering the alien language. The film masterfully uses visuals and sound design to illustrate the challenges of bridging the gap between species, with the alien language taking on a mesmerizing and haunting beauty.

The film's pacing is deliberate, allowing the tension to build slowly and the philosophical themes to sink in. It avoids the typical sci-fi tropes of explosions and battles, instead focusing on the intimate struggles of the characters as they grapple with the enormity of the situation.

"The Arrival" is a film that rewards patience and thoughtful engagement. The ending, while open to interpretation, offers a poignant commentary on the power of empathy and understanding in a world increasingly divided.  It's a film that stays with you long after the credits roll, prompting reflection on the nature of time, memory, and our connection to the unknown.

While some viewers may find the film's pacing slow or its conclusion ambiguous, "The Arrival" is a triumph of intelligent filmmaking, offering a thought-provoking and deeply moving experience.  It's a film that resonates with the anxieties of our time, while reminding us of the inherent beauty and resilience of the human spirit.

In [83]:

# Create a list with the titles
# of five of your favorite movies

### WRITE CODE HERE ###
list_of_movies=["a","b","d","d","g"]
### --------------- ###


movie_list = list_of_movies
print(movie_list)
### --------------- ###

['a', 'b', 'd', 'd', 'g']

In [84]:
favorite_movies: List[str] = [
    "The Shawshank Redemption",
    "The Godfather",
    "The Dark Knight",
    "Pulp Fiction",
    "The Lord of the Rings: The Return of the King"
]

print(favorite_movies)

NameError: name 'List' is not defined

In [85]:
from typing import List

favorite_movies: List[str] = [
    "The Shawshank Redemption",
    "The Godfather",
    "The Dark Knight",
    "Pulp Fiction",
    "The Lord of the Rings: The Return of the King"
]

print(favorite_movies)

['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'Pulp Fiction', 'The Lord of the Rings: The Return of the King']

In [87]:

# Display the fourth element of
# the following list using print()

prime_numbers = [2, 3, 5, 7, 11]

### WRITE CODE HERE ###
print(prime_numbers[4])
### --------------- ###

11

In [89]:
my_list = ["apple", "banana", "cherry", "orange", "kiwi"]
print_llm_response(my_list[3])  # Output: orange

"Orange" is a very versatile word! To help me understand what you want, could you tell me more about what you're interested in?  For example:

* **Are you thinking about the color orange?**  We could talk about its symbolism, its use in art, or its place on the color spectrum.
* **Are you thinking about the fruit?** We could discuss its nutritional value, different varieties, or interesting recipes.
* **Do you want me to write a poem or story about oranges?** I can try my best to create something fun and creative!

Please give me more context so I can give you a more helpful response.

In [90]:

# Fix the bug in the following code

prime_numbers = [2, 3, 5, 7, 11]

### FIX THIS CODE ###
print(prime_numbers(3)) #access and print() the fourth element
### --------------- ###

TypeError: 'list' object is not callable

In [94]:
prime_numbers = [2, 3, 5, 7, 11]

### FIX THIS CODE ###
print(prime_numbers[3])  # Access using index 3 (fourth element)
### --------------- ###

7

In [91]:
prime_numbers = [2, 3, 5, 7, 11]

### FIX THIS CODE ###
print(prime_numbers[3]) #access and print() the fourth element using square brackets [] for indexing.
### --------------- ###

7

In [97]:
# Add one name to friends_list using append

friends_list = ["Tommy", "Isabel", "Daniel", "Otto"]

### WRITE CODE HERE ###
friends_list.append("mariam")
### --------------- ###

print(friends_list)

['Tommy', 'Isabel', 'Daniel', 'Otto', 'mariam']

In [98]:
# In the following code, remove the country
# that is not in South America

countries_in_south_america = ["Colombia", "Peru",
                              "Brasil", "Japan",
                              "Argentina"]

### WRITE CODE HERE ###
countries_in_south_america.remove("Japan")
### --------------- ###

print(countries_in_south_america)

['Colombia', 'Peru', 'Brasil', 'Argentina']

In [ ]:
print("hello")


Lesson 2 - Repeating tasks with for loops

From previous lesson
At the end of last lesson you saw this list of tasks

In [8]:
#from previous lesson:
list_of_tasks = [
    "Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.",
    "Write a birthday poem for Otto, celebrating his 28th birthday.",
    "Write a 300-word review of the movie 'The Arrival'."
]
print(list_of_tasks)

["Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.", 'Write a birthday poem for Otto, celebrating his 28th birthday.', "Write a 300-word review of the movie 'The Arrival'."]

In [9]:
task = list_of_tasks[0]
print_llm_response(task)

Subject: Late Arrival to Tomorrow's Meeting

Hi [Boss's name],

Please be advised that I will be running a bit late to tomorrow's meeting at [Time of Meeting]. I should arrive by [Estimated arrival time].

My apologies for any inconvenience this may cause.

Best,
[Your name]

iterating through task lists with AI

In [11]:
print(list_of_task)

NameError: name 'list_of_task' is not defined

In [12]:
print(list_of_tasks) # Change list_of_task to list_of_tasks

["Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.", 'Write a birthday poem for Otto, celebrating his 28th birthday.', "Write a 300-word review of the movie 'The Arrival'."]

In [14]:
print(list_of_tasks[0])

Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.

In [15]:
#for loop means control flow
#syntax,variable need,(in)through back sequence m list s one by one  task ko uthana or is task ko dena then print ko dena , variable jis m task ki list h
for task in list_of_tasks:
 print(task)

Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.
Write a birthday poem for Otto, celebrating his 28th birthday.
Write a 300-word review of the movie 'The Arrival'.

In [17]:
for task in list_of_tasks:#: block of indendation spaces 4
    print(" task start")
    print_llm_response(task)
    print(" task complete" )

 task start
Subject: Late for Tomorrow's Meeting

Hi [Boss's name],

Please be advised that I will be running slightly late for tomorrow's meeting at [time]. I apologize for any inconvenience this may cause. I will be there as soon as possible.

Thanks,
[Your name]

 task complete
 task start
To Otto, our friend, a toast we raise,
On this special day, we sing your praise.
Twenty-eight years have flown by so fast,
A milestone reached, a moment to grasp.

You've grown and learned, with wisdom in sight,
Through laughter and tears, you've shone so bright.
Your spirit's infectious, your kindness untold,
A friend so true, a story to be told.

So let's celebrate with joy and cheer,
Another year older, another year dear.
May this birthday bring you happiness and grace,
With love and laughter in every embrace.

Happy birthday, Otto, we wish you well,
May life's adventures bring stories to tell.
May your dreams take flight, your ambitions soar,
And happiness fill your life, forevermore!

 task complete
 task start
## The Arrival: A Quietly Powerful Exploration of Language, Time, and Humanity

"The Arrival" is a thought-provoking sci-fi film that goes beyond the usual alien invasion tropes. It presents a nuanced and contemplative exploration of communication, time, and the nature of humanity itself.

The film centers around Dr. Louise Banks, a brilliant linguist tasked with deciphering the language of alien visitors who have arrived on Earth. As Louise delves deeper into their complex, non-linear communication, she grapples with the ramifications of their presence and the possibility of an impending war. The film's strength lies in its slow burn pacing and introspective tone. It eschews action-packed sequences for quiet moments of contemplation and intricate visual storytelling.

Amy Adams delivers a captivating performance as Louise, conveying both the character's intellectual prowess and her emotional vulnerability. Her journey to understand the aliens and the impact their presence has on her life is both compelling and deeply personal.

The film's visual language is as captivating as its narrative. Director Denis Villeneuve masterfully uses sound design and cinematography to create an atmosphere of both wonder and unease. The alien language itself is beautifully rendered, adding to the film's sense of mystery and intrigue.

"The Arrival" is not a film for those seeking explosions and easy answers. It's a film that challenges viewers to think deeply about the nature of communication, the passage of time, and the meaning of life itself. While the film's ending may leave some viewers wanting more concrete answers, its power lies in its ambiguity, encouraging viewers to continue the conversation long after the credits roll.  "The Arrival" is a truly unique and unforgettable cinematic experience, a film that lingers in the mind long after the final scene.

 task complete

In [18]:
# mistaks correct
for task in list_of_tasks:
print_llm_response(task)

IndentationError: expected an indented block after 'for' statement on line 2 (<ipython-input-18-a7827e725a9d>, line 3)

In [19]:
for task in list_of_tasks:
    print_llm_response(task)

Subject: Running Late for Tomorrow's Meeting

Hi [Boss's Name],

Just wanted to let you know that I will be running a few minutes late for tomorrow's meeting at [time].  I apologize for any inconvenience this may cause.

Thanks,
[Your Name]

To Otto, dear friend, on this day so bright,
We raise a glass to your twenty-eighth light.
A year older, wiser, and full of cheer,
May laughter and joy fill your coming year.

You've faced challenges, climbed every peak,
With courage and kindness, you're one of a unique.
Your humor shines bright, a star in the sky,
Your friendship a treasure, we're glad you're nigh.

So celebrate, Otto, with friends and with glee,
May your birthday be filled with merriment free.
Here's to many more years, filled with love and grace,
May your life be a journey, with joy in each space.

## The Arrival: A Thought-Provoking Journey Through Language and Loss

Denis Villeneuve's "The Arrival" isn't just a science fiction film, it's a deeply moving exploration of grief, communication, and the very nature of time. Amy Adams delivers a captivating performance as Dr. Louise Banks, a linguist tasked with deciphering the language of alien visitors who have mysteriously landed across the globe.

The film's strength lies in its slow burn approach. It avoids the typical alien invasion tropes, instead focusing on the intricate process of communication and understanding. Through a unique, visually stunning depiction of the alien language, Villeneuve crafts a tangible sense of the otherworldly and challenges our preconceived notions of time and causality.

The film's emotional core lies in Louise's personal journey. Haunted by the loss of her daughter, she grapples with the profound implications of the alien contact, finding solace and understanding in the language of the visitors. Adams's performance is nuanced and heartfelt, conveying both Louise's intellectual prowess and her vulnerability.

While the film may initially seem slow-paced, it ultimately rewards patient viewers with a profound and thought-provoking experience. "The Arrival" isn't just about aliens; it's about the human capacity for empathy, connection, and transcending limitations.

The stunning visuals, haunting soundtrack, and compelling performances all contribute to a powerful cinematic experience that leaves a lasting impact. "The Arrival" is a reminder that sometimes the most profound journeys are not about where we go, but about who we become along the way.


Iteratively updating AI prompts using lists

In [3]:
#ice cream flavor example
ice_cream_flavors = [
    "Vanilla",
    "Chocolate",
    "Strawberry",
    "Mint Chocolate Chip"
]

In [4]:
for flavor in ice_cream_flavors:
    prompt = f"""For the ice cream flavor listed below,
    provide a captivating description that could be used for promotional purposes.

    Flavor: {flavor}

    """
    print("start")
    print_llm_response(prompt)
    print("end")

start
## Vanilla: The Classic Reinvented

Don't let the name fool you, this isn't your grandma's vanilla. This is **vanilla elevated**, a symphony of pure, rich flavor that dances on your tongue.  Imagine creamy Madagascar vanilla beans, hand-selected for their intoxicating aroma, swirled into a velvety base. Each spoonful is a journey to a sun-drenched meadow, where the air is thick with the sweet scent of blooming vanilla orchids. **This isn't just vanilla, it's an experience.**

end
start
## Indulge in the Richness of Pure Chocolate Bliss

Our Chocolate ice cream is a symphony of decadent indulgence. Crafted with the finest cocoa beans, it offers a velvety smooth texture that melts in your mouth, leaving you with an irresistible chocolatey hug.  Each spoonful is a journey through layers of rich, dark chocolate, culminating in a satisfying finish that lingers on your palate.  Whether you crave a simple scoop or a decadent sundae, our Chocolate ice cream is the ultimate indulgence for your taste buds.

end
start
##  Indulge in Summer's Kiss: Strawberry Ice Cream

**Imagine:**  a symphony of sunshine and sweetness.  Our Strawberry ice cream captures the essence of a sun-kissed summer day, bursting with the vibrant flavor of freshly picked strawberries.  Each creamy bite is a delicious journey, starting with the bright, juicy sweetness of ripe berries and finishing with a refreshingly tart kiss.

**It's the perfect treat for:**  a warm summer afternoon, a nostalgic childhood memory, or simply a moment of pure indulgence.

**This is not your average strawberry ice cream.**  We use only the finest, hand-picked strawberries to ensure a truly authentic flavor experience.  Our recipe is crafted with love and care, resulting in a smooth, creamy texture that melts in your mouth.

**Don't just dream about it, savor it.**  Our Strawberry ice cream is a taste of summer, bottled and ready to be enjoyed.

end
start
## Unleash Your Inner Chill with Mint Chocolate Chip

**Imagine this:** a cool, refreshing wave of minty bliss, dancing on your tongue, followed by the irresistible crunch of decadent chocolate chips. **This is Mint Chocolate Chip, a flavor that's both invigorating and indulgent.**

Forget boring, predictable ice cream. **Mint Chocolate Chip is a symphony of contrasts.** The cool, clean taste of mint awakens your senses, while the rich, dark chocolate chips deliver a satisfying sweetness that lingers long after the last bite.

**It's the perfect treat for any occasion.**  Enjoy a scoop after a spicy meal to cool down, or indulge in a cone on a sunny afternoon.  **No matter how you choose to savor it, Mint Chocolate Chip will always be a classic.**

end


Now that you know how to use lists, you can even save the promortional descriptions to another list using .append():

In [5]:
#saving results to a list
promotional_descriptions = []
for flavor in ice_cream_flavors:
    prompt = f"""For the ice cream flavor listed below,
    provide a captivating description that could be used for promotional purposes.

    Flavor: {flavor}

    """
    description = get_llm_response(prompt)
    promotional_descriptions.append(description)

In [6]:
print(promotional_descriptions)

["## Vanilla: The Classic Reimagined\n\nForget what you think you know about vanilla. This isn't your grandma's boring scoop. Our Vanilla is a symphony of pure, creamy perfection. Crafted with the finest Madagascar vanilla beans, each spoonful explodes with an intoxicating aroma and a depth of flavor that will leave you craving more. It's simple, elegant, and undeniably delicious - the ultimate blank canvas for your taste buds.  \n", "## Indulge in the Decadence: Our Chocolate Ice Cream\n\nForget everything you thought you knew about chocolate ice cream. This isn't your average, run-of-the-mill treat. This is a symphony of rich, velvety chocolate, crafted to tantalize your taste buds. \n\nImagine the first bite: a smooth, creamy swirl melting on your tongue, releasing a wave of pure chocolate bliss. Each spoonful is a journey through layers of intense chocolate flavor, from the subtle sweetness of cocoa to the hint of dark chocolate depth. It's a decadent experience that will leave you craving for more.\n\nOur Chocolate Ice Cream is not just a dessert, it's a moment of pure indulgence. So, treat yourself to a scoop of this divine treat, and experience the ultimate chocolate dream. \n", "##  🍓 Dive into Summer with Every Bite! 🍓\n\n**Our Strawberry ice cream is a love letter to sunshine and sweet memories.** Made with real, ripe strawberries bursting with juicy flavor, every spoonful is a vibrant reminder of warm days and delicious treats. **Imagine a summer picnic, the scent of fresh strawberries filling the air, and the first bite of creamy, dreamy ice cream that melts in your mouth.**  This isn't just a flavor, it's an experience - a taste of pure, unadulterated happiness. \n", "## Escape to the Mint Chocolate Chip Oasis\n\n**Imagine this:** Cool, crisp mint ice cream, swirling with decadent chocolate chips, melting on your tongue. Every bite is a refreshing journey to a summery paradise, where the sweet, minty coolness soothes your soul and the rich chocolate bursts with delightful indulgence. This isn't just ice cream, it's an experience. It's a taste of serenity, a moment of pure joy, a blissful escape from the ordinary. **Indulge in the magic of Mint Chocolate Chip. Your taste buds will thank you.** \n"]


Extra practice

In [7]:
# Fix the following code.
# It should print the flavors in
# ice_cream_flavors one by one.

ice_cream_flavors = ["Chocolate", "Mint Chocolate Chip"]

### EDIT THE FOLLOWING CODE ###
for flavor in ice_cream_flavors:
    print(ice_cream_flavors)
### --------------- ###

['Chocolate', 'Mint Chocolate Chip']
['Chocolate', 'Mint Chocolate Chip']

In [8]:

# Translate the flavors in ice_cream_flavors to Spanish
ice_cream_flavors = ["Vanilla", "Strawberry"]

for flavor in ice_cream_flavors:
    ### EDIT THE FOLLOWING CODE ###
    #Hint: you only need to add one or two sentences to the prompt
    prompt = f"""For the ice cream flavor listed below,

    """
    ### --------------- ###
    print_llm_response(prompt)

Please provide the ice cream flavor you would like me to discuss! I need the flavor name to be able to give you information. 😄🍦

Please provide the ice cream flavor you'd like me to help you with. I need the flavor name to be able to assist you! 😊

In [9]:
ice_cream_flavors = ["Vanilla", "Strawberry"]

# Create a dictionary to store translations
translations = {
    "Vanilla": "Vainilla",
    "Strawberry": "Fresa"
}

# Translate the flavors
spanish_flavors = [translations.get(flavor, flavor) for flavor in ice_cream_flavors]

print(spanish_flavors)  # Output: ['Vainilla', 'Fresa']

['Vainilla', 'Fresa']

In [10]:

# Write code to get a list with
# words without typos

words_with_typos = ["Aple", "Wether", "Newpaper"]
words_without_typos = ["apple", "weather", "newspaper"]

for word in words_with_typos:
    prompt = f"""Fix the spelling mistake in the following word: {word}
    Provide only the word.
    """
    correct_word = get_llm_response(prompt)
    ### WRITE CODE HERE  ###
    #Hint: Append the correct_word to the words_without_typos list
    ### --------------- ###

print(words_without_typos)

['apple', 'weather', 'newspaper']

In [11]:
def get_words_without_typos(words_with_typos):
  """Corrects spelling mistakes in a list of words using an LLM.

  Args:
    words_with_typos: A list of words with potential spelling mistakes.

  Returns:
    A list of words with spelling mistakes corrected.
  """

  words_without_typos = []
  for word in words_with_typos:
    prompt = f"""Fix the spelling mistake in the following word: {word}
    Provide only the word.
    """
    correct_word = get_llm_response(prompt)  # Assumes you have this function
    words_without_typos.append(correct_word)
  return words_without_typos

# Example usage:
words_with_typos = ["Aple", "Wether", "Newpaper"]
corrected_words = get_words_without_typos(words_with_typos)
print(corrected_words)  # Output: ['Apple', 'Weather', 'Newspaper']

['Apple \n', 'Whether \n', 'Newspaper \n']

How it works:

get_words_without_typos function:

Takes a list of words_with_typos as input.
Initializes an empty list words_without_typos to store the corrected words.
Iterates through each word in the words_with_typos list.
Creates a prompt for the LLM asking to fix the spelling mistake.
Calls the get_llm_response function (which you need to implement) to get the corrected word.
Appends the correct_word to the words_without_typos list.
Returns the words_without_typos list.
Example usage:

Creates a list of words with typos (words_with_typos).
Calls get_words_without_typos with the list to get the corrected words.
Prints the corrected_words list.
Important:

You need to replace get_llm_response(prompt) with your actual implementation that interacts with the LLM to get the corrected word.
The output assumes the LLM provides the correct words as expected.


Lesson 3 - Prioritizing tasks with dictionaries and AI

In [13]:
# left to righi
#index              0    1    2    3    4
# right to left
#index             -5   -4   -3   -2   -1
data: list[str] = ["a", "b", "c", "d", "e"]# list (any data  append krskty hn, array tha os m same data type one variable m store krty thy, but ismy multiple data type ki value append krskty hn)
data1: tuple[str] = ("x", "y", "c", "d", "e")#tuple, no update value but reassign
data2: set[int] = {1,2,3,4}#set (no indexing apply in set) if write double time but return one time
print(type(data))
print(type(data1))
print(type(data2))

print(data[0])
print(data[-3])

<class 'list'>
<class 'tuple'>
<class 'set'>
a
c

In [14]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [15]:
!pip install -Uq nb-mypy
%load_ext nb_mypy

  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 819.5/819.5 kB 14.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.5/12.5 MB 97.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.4/85.4 kB 7.8 MB/s eta 0:00:00
  Building wheel for nb-mypy (pyproject.toml) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires ipython==7.34.0, but you have ipython 8.28.0 which is incompatible.

Version 1.0.5
INFO:nb-mypy:Version 1.0.5

In [16]:
names : list[str] = ["sehr", "junaid", "ali", "faizan"]
print(names)

['sehr', 'junaid', 'ali', 'faizan']

In [17]:
names : list[str] = ["sehr",True, "junaid", "ali", "faizan"]
print(names)

<cell>1: error: List item 1 has incompatible type "bool"; expected "str"  [list-item]
ERROR:nb-mypy:<cell>1: error: List item 1 has incompatible type "bool"; expected "str"  [list-item]

['sehr', True, 'junaid', 'ali', 'faizan']

In [19]:
from typing import List, Any

data : list[Any] = ["sehr", "aslam", "faiza is a good teacher", 30, "how"]
# [], index, value
print(data[0])

sehr

In [33]:
# {}, key, value
from typing import Dict, Any
data : Dict[str, Any] = {
    "name" : "sehr",
    "father_name"  :  "Aslam",
    "age" : 30,
    "is_teacher" : True
}
print(data["name"])
print(data)

sehr
{'name': 'sehr', 'father_name': 'Aslam', 'age': 30, 'is_teacher': True}

In [36]:
data

{'name': 'sehr', 'father_name': 'Aslam', 'age': 30, 'is_teacher': True}

In [40]:
print(data)
data["father_name"]

{'name': 'sehr', 'father_name': 'Aslam', 'age': 30, 'is_teacher': True}

'Aslam'

In [39]:
print(data)
print(data["father_name"]) # Access the 'father_name' value from the 'data' dictionary using data["father_name"]

{'name': 'sehr', 'father_name': 'Aslam', 'age': 30, 'is_teacher': True}
Aslam

In [42]:
data["name"] = "sehr khan" # Update the 'name' value in the 'data' dictionary
#print(data)
data

{'name': 'sehr khan', 'father_name': 'Aslam', 'age': 30, 'is_teacher': True}

In [43]:
data["blood_group"] = "A+" # Add a new key-value pair to the 'data' dictionary
#print(data)
data

{'name': 'sehr khan',
 'father_name': 'Aslam',
 'age': 30,
 'is_teacher': True,
 'blood_group': 'A+'}

In [35]:
# prompt: create 20 samples students data, with dictionary then convert into  dataframe

import pandas as pd
import random

# Sample student data
student_data = []
for i in range(20):
  student = {
      'name': f'Student{i+1}',
      'age': random.randint(18, 25),
      'grade': random.randint(70, 100),
      'city': random.choice(['Karachi', 'Lahore', 'Islamabad', 'Peshawar'])
  }
  student_data.append(student)

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(student_data)

# Display the DataFrame
df

         name  age  grade       city
0    Student1   21     87   Peshawar
1    Student2   25    100   Peshawar
2    Student3   21     70  Islamabad
3    Student4   18     70     Lahore
4    Student5   18     78     Lahore
5    Student6   21     99   Peshawar
6    Student7   20     94    Karachi
7    Student8   19     71  Islamabad
8    Student9   25     70   Peshawar
9   Student10   22     99    Karachi
10  Student11   24     96  Islamabad
11  Student12   23     87  Islamabad
12  Student13   20     99    Karachi
13  Student14   25     84  Islamabad
14  Student15   18     70  Islamabad
15  Student16   22     78   Peshawar
16  Student17   18     72  Islamabad
17  Student18   23     77   Peshawar
18  Student19   25     74     Lahore
19  Student20   24     96   Peshawar

Download helper_function.py
pls set Secrets Variable for Gemini in Collab
GEMINI_API_KEY
Get API KEY From Google AI Studio

In [8]:
!curl -o helper_functions.py https://raw.githubusercontent.com/panaversity/learn-cloud-native-modern-ai-python/main/04_natural_language_programming/02_ai_python_for_beginners/course1_basics/Lesson_9/helper_functions.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3944  100  3944    0     0   7978      0 --:--:-- --:--:-- --:--:--  7967

In [9]:
from helper_functions import print_llm_response, get_llm_response


If you wanted to store ice cream flavor descriptions using lists, you would have something like this:

In [57]:
ice_cream_flavors :List[str] = [
    "Vanilla: Classic and creamy with a rich, smooth flavor from real vanilla beans.",
    "Chocolate: Deep and indulgent, made with rich cocoa for a satisfying chocolate experience.",
    "Strawberry: Sweet and fruity, bursting with the fresh taste of ripe strawberries.",
    "Mint Chocolate Chip: Refreshing mint ice cream studded with decadent chocolate chips.",
    "Cookie Dough: Vanilla ice cream loaded with chunks of chocolate chip cookie dough.",
    "Salted Caramel: Sweet and salty with a smooth caramel swirl and a hint of sea salt.",
    "Pistachio: Nutty and creamy, featuring the distinct taste of real pistachios.",
    "Cookies and Cream: Vanilla ice cream packed with chunks of chocolate sandwich cookies.",
    "Mango: Tropical and tangy, made with juicy mangoes for a refreshing treat.",
    "Rocky Road: Chocolate ice cream mixed with marshmallows, nuts, and chocolate chunks."
]#If you wanted to look up the description for a particular flavor, you would have to memorize its index.

Building intuition and definitions
Dictionaries in Python are very similar to the dictionaries you would find in a library. Each value in a dictionary is associated with a key, just as you will find definitions associated to words in a hardcover dictionary. Let's take as an example the following dictionary with ice cream flavors.

In [58]:
from typing import Dict
ice_cream_flavors : dict[str,str] = {
    "Mint Chocolate Chip": "Refreshing mint ice cream studded with decadent chocolate chips.",
    "Cookie Dough": "Vanilla ice cream loaded with chunks of chocolate chip cookie dough.",
    "Salted Caramel": "Sweet and salty with a smooth caramel swirl and a hint of sea salt."
}

In [55]:
[i for i in dir(dict) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [59]:
print(ice_cream_flavors.keys())

dict_keys(['Mint Chocolate Chip', 'Cookie Dough', 'Salted Caramel'])

In [64]:
ice_cream_flavors.keys
 ?

IndentationError: unexpected indent (<ipython-input-64-fc5d8572f555>, line 2)

In [65]:
ice_cream_flavors.keys?

In [60]:
print(ice_cream_flavors.values())

dict_values(['Refreshing mint ice cream studded with decadent chocolate chips.', 'Vanilla ice cream loaded with chunks of chocolate chip cookie dough.', 'Sweet and salty with a smooth caramel swirl and a hint of sea salt.'])

Accessing elements
Dictionaries don't index their elements as list do, so you cannot access values in the way you would using lists. If you run the cell below, you will get an error message since the index 0 is not a key in the ice_cream_flavors dictionary.

In [66]:
#Wrong way of accessing elements (treating dict as a list)
print(ice_cream_flavors[0])

<cell>2: error: Invalid index type "int" for "dict[str, str]"; expected type "str"  [index]
ERROR:nb-mypy:<cell>2: error: Invalid index type "int" for "dict[str, str]"; expected type "str"  [index]

KeyError: 0

In [67]:
# Access using the flavor name as the key
print(ice_cream_flavors['Mint Chocolate Chip'])

#To iterate through the key value pair, you can use dict.items():
for flavor, description in ice_cream_flavors.items():
    print(f"{flavor}: {description}")

# To get all keys use dict.keys()
print(ice_cream_flavors.keys())

#To get all values use dict.values()
print(ice_cream_flavors.values())

Refreshing mint ice cream studded with decadent chocolate chips.
Mint Chocolate Chip: Refreshing mint ice cream studded with decadent chocolate chips.
Cookie Dough: Vanilla ice cream loaded with chunks of chocolate chip cookie dough.
Salted Caramel: Sweet and salty with a smooth caramel swirl and a hint of sea salt.
dict_keys(['Mint Chocolate Chip', 'Cookie Dough', 'Salted Caramel'])
dict_values(['Refreshing mint ice cream studded with decadent chocolate chips.', 'Vanilla ice cream loaded with chunks of chocolate chip cookie dough.', 'Sweet and salty with a smooth caramel swirl and a hint of sea salt.'])

Let's ask the chatbot how to access items in this dictionary.

In [68]:
ice_cream_flavors = {
"Mint Chocolate Chip": "Refreshing mint ice cream studded with decadent chocolate chips.",
"Cookie Dough": "Vanilla ice cream loaded with chunks of chocolate chip cookie dough.",
"Salted Caramel": "Sweet and salty with a smooth caramel swirl and a hint of sea salt."
}

So, to access the values in the dictionary you need to use its keys. For instance, for Cookie Dough, you can run the following code:

In [69]:
cookie_dough_description = ice_cream_flavors["Cookie Dough"]
print(cookie_dough_description)

Vanilla ice cream loaded with chunks of chocolate chip cookie dough.

Adding and updating elements in a dictionary

Let's take another look at the ice_cream_flavors dictionary

In [70]:
print(ice_cream_flavors)

{'Mint Chocolate Chip': 'Refreshing mint ice cream studded with decadent chocolate chips.', 'Cookie Dough': 'Vanilla ice cream loaded with chunks of chocolate chip cookie dough.', 'Salted Caramel': 'Sweet and salty with a smooth caramel swirl and a hint of sea salt.'}

In [71]:
#Now, to add a new item for the "Rocky Road" flavor, you will need to assign its definition to
ice_cream_flavors["Rocky Road"] = "Chocolate ice cream mixd witother ngredients."

Note that you are using the same syntax that selects a single item, but this time use a key that didn't exist before and assign it a value. Let's check the dictionary after this update:

In [72]:
print(ice_cream_flavors)

{'Mint Chocolate Chip': 'Refreshing mint ice cream studded with decadent chocolate chips.', 'Cookie Dough': 'Vanilla ice cream loaded with chunks of chocolate chip cookie dough.', 'Salted Caramel': 'Sweet and salty with a smooth caramel swirl and a hint of sea salt.', 'Rocky Road': 'Chocolate ice cream mixd witother ngredients.'}

You can update existing dictionary items in a similar way. Let's fix the typos from the "Rocky Road" description.

In [73]:
ice_cream_flavors["Rocky Road"] = "Chocolate ice cream mixed with other ingredients."

In [74]:
print(ice_cream_flavors)

{'Mint Chocolate Chip': 'Refreshing mint ice cream studded with decadent chocolate chips.', 'Cookie Dough': 'Vanilla ice cream loaded with chunks of chocolate chip cookie dough.', 'Salted Caramel': 'Sweet and salty with a smooth caramel swirl and a hint of sea salt.', 'Rocky Road': 'Chocolate ice cream mixed with other ingredients.'}

Different types of elements

Let's say that you store data about your friends. For Isabel you have the following dictionary.

In [77]:
aslam_life = {
    "age" : 24,
    "height" : 5.8,
    "name" : "aslam"

}

Error in callback <bound method MypyIPython.type_check of <nb_mypy.MypyIPython object at 0x7a3a77b20c40>> (for pre_run_cell):

KeyboardInterrupt:

NameError: name 'age' is not defined

In [79]:
aslam_life = {
    "age" : 24, # Changed age to "age" to define it as a string key
    "height" : 5.8,
    "name" : "aslam"

}
print(aslam_life)

{'age': 24, 'height': 5.8, 'name': 'aslam'}

You can store information within that dictionary using lists. For instance, the names for each of her cats.

In [80]:
aslam_life["brother name"] = ["haris","junaid", "faiz", "saad"]

In [81]:
print(aslam_life)

{'age': 24, 'height': 5.8, 'name': 'aslam', 'brother name': ['haris', 'junaid', 'faiz', 'saad']}

In [82]:
aslam_life["favorite food"] = ["burger", "biryani", "pizza", "pasta"]

In [83]:
print(aslam_life)

{'age': 24, 'height': 5.8, 'name': 'aslam', 'brother name': ['haris', 'junaid', 'faiz', 'saad'], 'favorite food': ['burger', 'biryani', 'pizza', 'pasta']}

Using dictionaries to complete high priority tasks using AI

In the previous lessons you completed the tasks from a list --like the one below-- using AI.

In [1]:
#task example, large list not ordered by priority. Want to prioritize
list_of_tasks = [
    "Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.",
    "Write a birthday poem for Otto, celebrating his 28th birthday.",
    "Write a 300-word review of the movie 'The Arrival'.",
    "Draft a thank-you note for my neighbor Dapinder who helped water my plants while I was on vacation.",
    "Create an outline for a presentation on the benefits of remote work."
]

In reality, not all tasks would have the same priority. In fact, for this example, you have tasks with high, medium and low priorities as defined by the following lists:

In [2]:
#instead of that unorganized large list, divide tasks by priority
high_priority_tasks = [
    "Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.",
    "Create an outline for a presentation on the benefits of remote work."
]

medium_priority_tasks = [
    "Write a birthday poem for Otto, celebrating his 28th birthday.",
    "Draft a thank-you note for my neighbor Dapinder who helped water my plants while I was on vacation."
]

low_priority_tasks = [
    "Write a 300-word review of the movie 'The Arrival'."
]

You can use dictionaries to store all the tasks with their priorities in a single data object. Run the following cell to create that dictionary and display its contents:

In [3]:
#create dictionary with all tasks
#dictionaries can contain lists!
prioritized_tasks = {
    "high_priority": high_priority_tasks,
    "medium_priority": medium_priority_tasks,
    "low_priority": low_priority_tasks
}

In [4]:
print(prioritized_tasks)

{'high_priority': ["Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.", 'Create an outline for a presentation on the benefits of remote work.'], 'medium_priority': ['Write a birthday poem for Otto, celebrating his 28th birthday.', 'Draft a thank-you note for my neighbor Dapinder who helped water my plants while I was on vacation.'], 'low_priority': ["Write a 300-word review of the movie 'The Arrival'."]}

With this data structure, it is easy for you to focus only on the high priority tasks and complete them using a for loop and LLMs:

In [6]:
print(prioritized_tasks["high_priority"])

["Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.", 'Create an outline for a presentation on the benefits of remote work.']

In [10]:
#complete high priority tasks
for task in prioritized_tasks["high_priority"]:
    print_llm_response(task)

Subject: Running Late for [Meeting Name] Tomorrow

Hi [Boss's Name],

Just wanted to let you know I'll be running a bit late for tomorrow's [Meeting Name] meeting. I should arrive around [estimated arrival time].

My apologies for any inconvenience.

Best,
[Your Name]

## Presentation Outline: The Benefits of Remote Work

**I. Introduction (2 minutes)**
* **Hook:** Start with a captivating statistic or anecdote about the rise of remote work.
* **Background:** Briefly explain the shift towards remote work and its increasing popularity.
* **Thesis Statement:** State the main argument:  Remote work offers significant advantages for both employees and employers.

**II. Benefits for Employees (5 minutes)**
* **Increased Flexibility:**
    * Work-life balance: More time for family, personal pursuits, and errands.
    * Flexible schedules: Ability to adjust work hours to personal needs and preferences.
    * Reduced commute time:  Saves time, money, and reduces stress.
* **Enhanced Productivity:**
    * Fewer distractions:  Quiet and comfortable work environment.
    * Greater autonomy and control:  Increased focus and self-motivation.
    * Improved mental well-being: Reduced stress and burnout.
* **Greater Work-Life Integration:**
    * More time for hobbies, exercise, and personal development.
    * Reduced childcare costs and stress.
    * Improved overall well-being and happiness.
* **Career Advancement Opportunities:**
    * Access to a wider range of job opportunities.
    * Greater exposure to diverse teams and projects.
    * Enhanced skills and knowledge acquisition through online learning.

**III. Benefits for Employers (5 minutes)**
* **Increased Productivity:**
    * Higher engagement and morale: Employees feel more valued and empowered.
    * Reduced absenteeism and turnover:  Employees are more likely to stay.
    * Lower overhead costs:  Reduced office space, utilities, and equipment expenses.
* **Enhanced Talent Pool:**
    * Access to a global workforce:  Expand hiring pool and increase diversity.
    * Ability to recruit and retain top talent:  Offer flexibility and remote options.
    * Reduced recruitment costs:  Simplified hiring process.
* **Improved Innovation and Collaboration:**
    * Foster a culture of creativity and collaboration.
    * Encourage diverse perspectives and ideas.
    * Leverage online tools and platforms for seamless communication.

**IV. Overcoming Challenges (3 minutes)**
* **Maintaining Communication and Collaboration:**
    * Utilize effective communication tools and strategies.
    * Encourage team building activities and virtual interactions.
    * Establish clear expectations and responsibilities.
* **Ensuring Employee Well-being:**
    * Promote work-life balance and encourage breaks.
    * Foster a positive and supportive work environment.
    * Offer resources for mental health and well-being.
* **Managing Security and Data Privacy:**
    * Implement robust security protocols and measures.
    * Ensure compliance with data privacy regulations.
    * Provide employees with security awareness training.

**V. Conclusion (2 minutes)**
* **Reiterate the key benefits of remote work:** Flexibility, productivity, talent pool, and innovation.
* **Call to action:** Encourage audience to explore the possibilities of remote work.
* **Closing statement:**  Remote work is more than a trend – it's a transformative force in the future of work.

**VI. Q&A (5 minutes)**

**Visual Aids:**
* Use compelling visuals to illustrate the benefits of remote work.
* Include charts, graphs, and images showcasing statistics, work-life balance, and productivity.
* Showcase examples of successful remote work companies and their achievements.

**Note:** Adjust the time allocation for each section based on the presentation's overall duration and your preferred pacing.

In the next lesson we will continue exploring dictionaries. You will see how to use values to create prompts to use with LLMs.

Extra practice

Please go through the exercises in the cells below if you want some extra practice for the topics you covered in this lesson.

In [12]:
# Update the description for the
# Rocky Road flavor using get_llm_response()

flavor = "Rocky Road"
prompt = f"Provide a brief description for the {flavor} ice cream flavor"

### EDIT THE FOLLOWING CODE ###
ice_cream_flavors["Rocky Road"] = get_llm_response(prompt)
### --------------- ###

NameError: name 'ice_cream_flavors' is not defined

In [14]:
# Update the description for the
# Rocky Road flavor using get_llm_response()

# Create an empty dictionary to store ice cream flavors
ice_cream_flavors = {} # Initialize ice_cream_flavors as a dictionary

flavor = "Rocky Road"
prompt = f"Provide a brief description for the {flavor} ice cream flavor"

### EDIT THE FOLLOWING CODE ###
ice_cream_flavors["Rocky Road"] = get_llm_response(prompt)
### --------------- ###
print(ice_cream_flavors)

{'Rocky Road': "Rocky Road ice cream is a classic chocolate ice cream studded with gooey marshmallows and crunchy pecans. It's a perfect combination of sweet, chewy, and nutty, offering a delightful textural experience with every bite. \n"}

In [15]:
# Complete the medium priority tasks
# by modifying the following code

### EDIT THE FOLLOWING CODE ###
for task in prioritized_tasks["high_priority"]:
    print_llm_response(task)
### --------------- ###

Subject: Running Late for Tomorrow's Meeting

Hi [Boss's name],

Just wanted to let you know that I will be running a few minutes late for tomorrow's meeting at [time]. I apologize for any inconvenience this may cause.

I'll be there as soon as possible.

Thanks,
[Your name]

## Presentation Outline: The Benefits of Remote Work

**I. Introduction (2 minutes)**

* **Grab attention:** Start with a statistic or anecdote about the rise of remote work.
* **Introduce topic:** Briefly explain what remote work is and its growing popularity.
* **Establish relevance:** Briefly outline the potential benefits of remote work for both individuals and organizations.
* **Roadmap:** Briefly outline the key points that will be covered in the presentation.

**II. Benefits for Individuals (5 minutes)**

* **Flexibility & Work-Life Balance:**
    * Increased control over work schedule and environment.
    * Reduced commute time and stress.
    * More time for personal pursuits, family, and hobbies.
* **Increased Productivity:**
    * Fewer distractions and interruptions.
    * Enhanced focus and concentration.
    * Ability to work in a more comfortable and conducive environment.
* **Improved Health & Well-being:**
    * Reduced stress and anxiety.
    * Increased physical activity and healthy eating habits.
    * Greater control over work-life balance, leading to improved mental health.
* **Personal Growth & Development:**
    * Opportunities for self-directed learning and skill development.
    * Greater autonomy and decision-making power.
    * Increased responsibility and accountability.

**III. Benefits for Organizations (5 minutes)**

* **Reduced Costs:**
    * Lower overhead costs (office space, utilities, etc.).
    * Reduced employee turnover and absenteeism.
    * Access to a wider talent pool.
* **Increased Productivity:**
    * Improved employee morale and engagement.
    * More efficient use of time and resources.
    * Increased flexibility and agility.
* **Improved Employee Satisfaction & Retention:**
    * Enhanced employee well-being and work-life balance.
    * Increased trust and autonomy.
    * Greater sense of purpose and belonging.
* **Enhanced Innovation:**
    * Access to diverse perspectives and experiences.
    * Greater collaboration and communication across teams.
    * Fostering a culture of experimentation and creativity.

**IV. Challenges & Considerations (3 minutes)**

* **Potential drawbacks:**
    * Isolation and loneliness.
    * Difficulty maintaining work-life boundaries.
    * Lack of face-to-face interaction and collaboration.
* **Overcoming challenges:**
    * Implementing strategies for communication and collaboration.
    * Setting clear expectations and boundaries.
    * Fostering a sense of community and belonging.

**V. Conclusion (2 minutes)**

* **Recap key benefits of remote work.**
* **Reiterate the importance of addressing potential challenges.**
* **Encourage the audience to consider adopting remote work practices.**
* **Call to action:** Suggest resources or steps for further exploration.

**VI. Q&A (5 minutes)**

* **Open the floor to audience questions.**
* **Provide thoughtful and informative responses.**

**Visual Aids:**

* Charts and graphs to illustrate key data points.
* Images and videos to showcase the benefits of remote work.
* A clear and concise presentation design to enhance engagement.

**Note:** This outline can be adapted to fit the specific needs and audience of the presentation.

In [16]:
# Assume prioritized_tasks is a dictionary with a "medium_priority" key
# containing a list of tasks.
prioritized_tasks = {"medium_priority": []}  # Initialize with an empty list for "medium_priority"


### EDIT THE FOLLOWING CODE ###
for task in prioritized_tasks["medium_priority"]: # Access "medium_priority" tasks
    print_llm_response(task) # Process each task
### --------------- ###

Explanation of changes:

Dictionary Initialization (Important):
The line prioritized_tasks = {"medium_priority": []} has been added before the loop.
This initializes the prioritized_tasks dictionary with a key "medium_priority" and assigns an empty list [] to it.
You absolutely need to replace this empty list with your actual list of medium-priority tasks. For example:

In [17]:
prioritized_tasks = {
        "medium_priority": ["Send follow-up emails", "Update project documentation", "Research new vendors"]
    }

Access Medium Priority Tasks:

The loop now iterates through prioritized_tasks["medium_priority"] to access the tasks under the "medium_priority" key.
Process Tasks:

The print_llm_response(task) line remains the same, as it's used to process each task using the print_llm_response function.
Without initializing the prioritized_tasks dictionary with the "medium_priority" key and your actual tasks, you'll likely encounter a KeyError because the key won't exist in the dictionary. Make sure to replace the empty list [] with your real tasks.

In [18]:
print(prioritized_tasks)

{'medium_priority': ['Send follow-up emails', 'Update project documentation', 'Research new vendors']}